Repository pawel-kow/Templates, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joh3rd, @evelyndearaujo-goentri, @Thekkedath, @stabarez, @leopinzon, @tauthomas01, @wesbaker, @iaserrat, @unixcharles, @DmytroHnatiuk, @csjewell, @eelco, @delputnam, @goshon, @mskochev, @gdjewell, @gdvalle, @timothy-hart, @alinconstantin, @carlzulauf, @aftonpalmer, @weiWang95, @NigelKibodeaux, @glstas, @markkelnar, @jbushlack-godaddy, @chris-zenfolio, @ZenfolioChris, @beswifty, @dommholland, @b805rohit, @kiranvsr, @anish2690, @twalmsley, @elliottinvent, @chintans1, @moxlive, @myildizhubspot, @webtoolbox, @asafdl, @elementortzvi, @limo-756, @fgorodishter-godaddy, @schandra3-godaddy, @mr-brik, @imgerson, @jbardo-godaddy, @daniel-matuszak, @dmips-godaddy, @astrutzenberg-godaddy, @Norris1z, @abdulaziz-mohammed, @pawel-kow, @arnoldblinn, @sagarspatil, @kcooperstein-godaddy, @sudha-kaluri, @Jainabgitdev, @jlebron3, @tombeard, @cmalec, @garwahl, @mbaumbach, @koovergaraSA, @aleksand, @dorongutman, @miguelcabgil, @greggflow, @ischuraev-xqueue, @francoisp-houzz, @alanxuan-houzz, @cong-dtravel, @davestys, @lyalls-marc, @lyallsv, @richard-edens, @benjaminbbowen, @bdickson1-godaddy, @markb-trustifi, @theAlexPatin, @gugu, @Nick-, @wjc133, @argonaut1, @kevinsandow, @TracyFogel, @w-ubx, @navneetgoel-domainconnect, @vishakhasalunkhe-domainconnect, @polmyeste, @johnli-codaio, @rohitkandhari, @lzmying, @gowebsmarty, @JoaoFSCruz, @sibprogrammer, @perehonchuk, @BrianSigafoos-Valimail, @danyfedorov, @phonxis, @avag89, @gom-athi, @GokulnathMadhivanan, @nratter, @slyboots, @pdr, @EricFries, @jeevan-getmoda, @jfedyczak, @emranlatif, @joaogoulart-xogito, @twistor, @daflip, @LiviusP, @nopolabs, @damejido, @adancus

.github/CODEOWNERS:

webomat.at.*.json @joh3rd
goentri.com.*.json @evelyndearaujo-goentri @Thekkedath @stabarez @leopinzon
shopify.com.*.json @tauthomas01 @wesbaker @iaserrat @unixcharles
optimizex.io.*.json @DmytroHnatiuk
bluehost.in.*.json @csjewell
hostmonster.com.*.json @csjewell
framer.com.*.json @eelco
wordpress.com.*.json @delputnam
mailjet.com.*.json @goshon @mskochev
leadpages.net.*.json @gdjewell @gdvalle @timothy-hart
outlook.com.*.json @alinconstantin
getflywheel.com.*.json @carlzulauf @aftonpalmer
shoplazza.com.*.json @weiWang95
about.me.*.json @NigelKibodeaux
wpengine.com.*.json @glstas @markkelnar @jbushlack-godaddy
zenfolio.*.json @chris-zenfolio @ZenfolioChris
beswifty.com.*.json @beswifty
acymailing.com.*.json 
goshopmatic.com.*.json @jbushlack-godaddy
trady.com.*.json @dommholland
leadconnectorhq.com.*.json @b805rohit @kiranvsr @anish2690
numserver.com.*.json @twalmsley @elliottinvent
hubspot.com.*.json @chintans1 @moxlive @myildizhubspot
websitetoolbox.com.*.json @webtoolbox
elementor.com.*.json @asafdl @elementortzvi
titan.email.*.json @limo-756
secureserver.net.*.json @fgorodishter-godaddy @schandra3-godaddy @mr-brik @imgerson @jbardo-godaddy @daniel-matuszak @dmips-godaddy @astrutzenberg-godaddy
bareconnect.com.*.json @Norris1z
wisestamp.com.*.json
ehjzny.com.*.json @abdulaziz-mohammed
domainconnect.org.*.json @pawel-kow @arnoldblinn
sslzen.com.*.json @sagarspatil
godaddy.com.*.json @fgorodishter-godaddy @mr-brik @astrutzenberg-godaddy @schandra3-godaddy @jbardo-godaddy @daniel-matuszak @imgerson @kcooperstein-godaddy @dmips-godaddy
bing.com.*.json @sudha-kaluri @Jainabgitdev
goboost.io.*.json @jlebron3
pblin.net.*.json @tombeard
sendgrid.com.*.json @cmalec
canva.com.*.json @garwahl
seguno.com.*.json @mbaumbach
app.quicklylaunch.com.*.json @koovergaraSA
slickpic.com.*.json @aleksand
domainverification.org.*.json @elliottinvent
honeybook.com.*.json @dorongutman
justhost.com.*.json @csjewell
kitkaton.com.*.json @miguelcabgil
webflow.com.*.json @greggflow
maileon.com.*.json @ischuraev-xqueue
houzz.com.*.json @francoisp-houzz @alanxuan-houzz
dtravel.com.*.json @cong-dtravel
aweber.com.*.json @davestys
pearcommerce.com.*.json 
fastdomain.com.*.json @csjewell
sendmarc.com.*.json @lyalls-marc @lyallsv
radix.website.*.json @jbushlack-godaddy
moteefe.app.*.json @richard-edens
bluehost.com.*.json @csjewell
gvng.com.*.json @benjaminbbowen
jamfeed.com.*.json 
popmenu.com.*.json @bdickson1-godaddy
trustifi.com.*.json @markb-trustifi
owner.com.*.json @theAlexPatin
short.io.*.json @gugu
cheapbusiness.email.*.json @Nick-
rightclick.io.*.json
exampleservice.domainconnect.org.*.json @arnoldblinn @pawel-kow
myshopline.com.*.json @wjc133
netkii.com.*.json @argonaut1
wao.io.*.json @kevinsandow
portfolio.adobe.com.*.json @TracyFogel
microsoft.com.*.json @alinconstantin
sentro.ph.*.json @w-ubx
fraudmarc.com.*.json
google.com.*.json @navneetgoel-domainconnect @vishakhasalunkhe-domainconnect
trustchair.com.*.json @polmyeste
coda.io.*.json @johnli-codaio
icloud.com.*.json @rohitkandhari
chime.me.*.json @lzmying
wpencryption.com.*.json @gowebsmarty
sucuri.net.*.json
mailersend.com.*.json @JoaoFSCruz
plesk.com.*.json @sibprogrammer
wix.com.*.json @perehonchuk
valimail.com.*.json @BrianSigafoos-Valimail
drum.io.*.json @danyfedorov
app.unbounce.com.*.json
neo-fin.com.*.json @phonxis
easydmarc.com.*.json @avag89
zoho.com.*.json @gom-athi @GokulnathMadhivanan
jerseywatch.com.*.json @nratter
realgeeks.com.*.json @slyboots
getbento.com.*.json @pdr @EricFries
pplsi.com.*.json @arnoldblinn
getmoda.io.*.json @jeevan-getmoda
jitbit.com.*.json
helpdesk.com.*.json @jfedyczak
mail-list.com.*.json
framer.dev.*.json @eelco
smugmug.com.*.json
userdashboard.pixely.com.*.json @emranlatif
gearlaunch.com.*.json @joaogoulart-xogito
weebly.com.*.json @twistor
crevado.com.*.json @daflip
id4me.org.*.json @pawel-kow @LiviusP
flockmail.com.*.json @limo-756
squarespace.com.*.json @nopolabs @damejido
constantcontact.com.*.json @adancus

yet another try with refs...
  .github/workflows/dc-template-lint.yml
Owners: none

Test local change
  .github/workflows/dc-template-lint.yml
  acymailing.com.acymailer.json
Owners: none

List linter errors
  .github/workflows/dc-template-lint.yml
Owners: none

Test template update
  acymailing.com.acymailer.json
Owners: none

Fix script
  .github/workflows/dc-template-lint.yml
Owners: none

Test template update 3
  acymailing.com.acymailer.json
Owners: none

Debug run
  .github/workflows/dc-template-lint.yml
Owners: none

Template update test 4
  acymailing.com.acymailer.json
Owners: none

Just an idea...
  .github/workflows/dc-template-lint.yml
Owners: none

Print linter error code
  .github/workflows/dc-template-lint.yml
Owners: none

Print error code right
  .github/workflows/dc-template-lint.yml
Owners: none

Print diff always on version check step
  .github/workflows/dc-template-lint.yml
Owners: none

Final touch
  .github/workflows/dc-template-lint.yml
Owners: none

Always output linter out
  .github/workflows/dc-template-lint.yml
Owners: none

BUGFIX: missing ` character
  .github/workflows/dc-template-lint.yml
Owners: none

Update bareconnect.com.email.json
  bareconnect.com.email.json
Owners: @Norris1z

Update bareconnect.com.email.json
  bareconnect.com.email.json
Owners: @Norris1z

Create test.com.email-web.json
  test.com.email-web.json
Owners: none

FIX: no immediate exit on linter fail output
  .github/workflows/dc-template-lint.yml
Owners: none

DEBUG: see the content and the status of the repo
  .github/workflows/dc-template-lint.yml
Owners: none

TRY: checkout always head ref
  .github/workflows/dc-template-lint.yml
Owners: none

Update beswifty.com.website.json
  beswifty.com.website.json
Owners: @beswifty

Update beswifty.com.website.json
  beswifty.com.website.json
Owners: @beswifty

Fixed linter warning as errors
  .github/workflows/dc-template-lint.yml
Owners: none

Update dc-template-lint.yml to main repo master
  .github/workflows/dc-template-lint.yml
Owners: none

Update dc-template-lint.yml
  .github/workflows/dc-template-lint.yml
Owners: none

BUGFIX: run linter correctly for pull requests and merge queue
  .github/workflows/dc-template-lint.yml
Owners: none

Update about.me.website.json
  about.me.website.json
Owners: @NigelKibodeaux

Update dc-template-lint.yml
  .github/workflows/dc-template-lint.yml
Owners: none

Bugfix: dc-template-lint.yml
  .github/workflows/dc-template-lint.yml
Owners: none

BUGFIX: dc-template-lint.yml
  .github/workflows/dc-template-lint.yml
Owners: none

UPDATE: dc-template-lint.yml - remove file list and fix comment
  .github/workflows/dc-template-lint.yml
Owners: none

Update dc-template-lint.yml - add version
  .github/workflows/dc-template-lint.yml
Owners: none

Update about.me.website.json - fix version
  about.me.website.json
Owners: @NigelKibodeaux

Update dc-template-lint.yml - test nice linter output
  .github/workflows/dc-template-lint.yml
Owners: none

Update aweber.com.web-subdomain.json
  aweber.com.web-subdomain.json
Owners: @davestys

Update approximated.app.arecord.json
  approximated.app.arecord.json
Owners: none

Update dc-template-lint.yml
  .github/workflows/dc-template-lint.yml
Owners: none

Update aweber.com.web-subdomain.json
  aweber.com.web-subdomain.json
Owners: @davestys

GH action to check PRs
  .github/scripts/check_pr_description.py
  .github/scripts/test_pr_check.sh
  .github/workflows/pr-description-check.yml
Owners: none
